.cont-header{
    /* padding-right: 100px; */
    /* max-width: 100vw;*/
    
}
.header {
    position: fixed;
    /* width: 100vw; */
    z-index: 10;
    top: 0;
    left: 0;
    /* width: 100%;     */
    /* background-color: aqua; */
    width: 98.5%;
    /* padding-right: 300px; */
    /* padding: 20px; */
    /* background-color: aqua; */

}

#menu-checkbox+.menu-btn {
    width: fit-content;
    padding: 3px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
    left: 10px;
    top: 10px;
    gap: 7px;
    border:1px solid var(--menu-color);
    border-radius: 3px;
    padding: 5px;
    span {
        background: var(--menu-color);
        display: block;
        width: 25px;
        height: 3px;
        position: relative;
        transition: all .3s ease;
    }

    span:nth-child(1),
    span:nth-child(3) {
        /* height: 2px; */
    }

    span:nth-child(2) {
        height: 1px;
    }

}

.header>#menu-checkbox {
    display: none;

    &:checked~.menu-btn{
        border-radius: 50%;
        border-color: var(--secondary-color);
    }
    &:checked~.menu-btn span:nth-child(1) {
        transform: rotate(43deg) translate(6px, 6px);
    }

    &:checked~.menu-btn span:nth-child(2) {
        opacity: 0;
    }

    &:checked~.menu-btn span:nth-child(3) {
        transform: rotate(-43deg) translate(6px, -7px);
    }

    /* Mostrar/Ocultar menu */
    &:checked~.menu-hamburguesa {
        display: block;
        animation: bounce 0.5s ease forwards;
    }
}

.menu {
    display: none;
}

.menu-hamburguesa {
    display: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease;
    /* background-color: blueviolet; */
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--note-color);    
    width: 40vw;
    height: 100vh;
    z-index: 999;
    ul{
        height: 100%;
        width: 100%;
        border-radius: inherit;
        color: var(--font-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0 .8rem;        
        li{
            /* background-color: yellowgreen; */
            width: 80%;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                /* background-color: aqua; */
                display: block;
                width: 100%;
                height: 100%;
                /* text-align: center; */
                transition: all .3s ease;
                &:hover{
                    color: var(--bg-skills);
                }
            }

        }
    }

}


@keyframes bounce {
    0% {
        transform: scaleY(0);
        /* Inicio: menú colapsado */
    }

    30%,
    70% {
        transform: scaleY(1.1);
        /* Rebote: escala al 110% */
    }

    50%,
    100% {
        transform: scaleY(1);
        /* Final: escala normal */
    }
}

@media screen and (width > 768px) {
    .menu-hamburguesa,#menu-checkbox+.menu-btn {
        display: none;
    }

    .menu {
        display: block;                
        background-color: rgba(255, 255, 255, .7);
        /* padding: 0 20px;         */
        /* width: 100vw; */
        padding:0 20px;        
        .cont-links{
            display: flex;
            justify-content: space-between;
            align-items: center;            
            border-bottom: 1px solid var(--primary-color);
            & > ul{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
                gap: 15px;                
            }
            & > .logo{
                width: 100px;
                /* background-color: aqua; */
                img{
                    width: 100%;
                    aspect-ratio: 16/2;
                    object-fit: cover;
                }
            }
        }
        
    }
}