.skills{
    height: 100vh;
    background-color: var(--bg-skills);    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background-color: cyan; */
    ul{
        /* background-color: yellowgreen; */
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;        
        width: 80%;
        max-width: 700px;
        li{
            /* background-color: blueviolet; */
            display: flex;
            border: 1px solid var(--primary-color);
            padding: 1rem;
            border-radius: 5px;  
            gap: 10px;          
            .cont-ico-skill{                
                font-size: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .cont-body-skill{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;
                > h3{
                    /* background-color: yellowgreen; */
                    font-size: .9rem;
                    font-weight: 300;
                    letter-spacing: 1.2;
                }
                > div.progressbar{
                    position: relative;
                    padding: .5rem;
                    border: 1px solid var(--primary-color);
                    border-radius: 5px;
                    font-size: .4rem;                    
                    > div.bar{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0;
                        background-color: yellowgreen;
                        height: 100%;
                        border-radius: inherit;                                                                        
                    }
                }
                > div.percent{
                    font-size: .8rem;
                    padding-top: 4px;
                    > span {                        
                        display: block;
                        border-radius: 5px;
                        border: 1px solid var(--primary-color);
                        padding: .1rem .4rem;
                        width: fit-content;
                    }

                }
            }
        }
    }    
}

.charge-90{
    animation: move-90 2s ease infinite;
}
.charge-80{
    animation: move-80 2s ease infinite;
}
.charge-60{
    animation: move-60 2s ease infinite;
}

@keyframes move-90 {
    to {         
        width: 90%;
    }
}
@keyframes move-80 {
    to {         
        width: 80%;
    }
}
@keyframes move-60 {
    to {         
        width: 60%;
    }
}

.p-4{
    padding: 2rem;
}

.heading-6{
    font-size: .6rem;
    font-weight: 400;
}

@media screen and (width > 768px) {
    .skills{
        > h2{
            padding-top: 3rem;
        }
    }
}